/* Fonts */
@font-face { font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal; font-style: normal; }
@font-face { font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: normal; font-style: italic; }
@font-face { font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: bold; font-style: normal; }
@font-face { font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: bold; font-style: italic; }
@font-face { font-family: 'Roboto Mono';
    src: url('/fonts/roboto-mono/RobotoMono-Light.ttf') format('truetype');
    font-weight: normal; font-style: normal; }
@font-face { font-family: 'Roboto Mono';
    src: url('/fonts/roboto-mono/RobotoMono-LightItalic.ttf') format('truetype');
    font-weight: normal; font-style: italic; }
@font-face { font-family: 'Roboto Mono';
    src: url('/fonts/roboto-mono/RobotoMono-Medium.ttf') format('truetype');
    font-weight: bold; font-style: normal; }
@font-face { font-family: 'Roboto Mono';
    src: url('/fonts/roboto-mono/RobotoMono-MediumItalic.ttf') format('truetype');
    font-weight: bold; font-style: italic; }

/* Main Typography and Layout */

html { font-family: sans-serif; }
body { padding: 2rem; margin: 0px auto; max-width: 900px; }
.note { background-color: #f0f0f0; padding:  1rem; }
p, li, .note {	text-align: justify; line-height: 1.4rem; }
a { text-decoration: none; }

a { color: #008080; }
a:hover { color: #FC814A; }

img { max-width: calc(100% - 3rem); }
.img-75mm { height: 75mm; }

center { border: 0.5px solid gray; padding: 1.5rem; }

figure {
	margin-block-start: 2rem; margin-block-end: 2rem;
	margin-inline-start: 0rem; margin-inline-end: 0rem;
}
figcaption { caption-side: top; padding-bottom: 0.75rem;
	border-bottom: 0.5px solid gray; margin-bottom: 1.5rem;
	color: gray; font-weight: bold;} 


/* Code Typography */
code {
	display:  block !important;
	white-space: pre !important;
	padding:  1rem !important;
    background:  #f0f0f0;
	/* border:  solid 1px black !important; */
    font-family:  monospace;
    font-size:  100%;
}
.copy-btn { float:  right; }

/* From CSS Tricks:  https://css-tricks.com/overriding-default-button-styles/ */

button {
    border-radius:  0px;
    border:  solid 1px #008080;
    padding: 0.5rem;
    margin: 0;
    text-decoration: none;
    background: #008080;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #007373;
    border:  solid 1px #007373;
}

button:focus {
    outline: 0;
    /* outline-offset: -4px; */
}

button:active {
    transform: scale(0.95);
}

/*  List Styles */

li {
    margin-bottom:  1rem;
}

/* Automatic Counters */
body {
    counter-reset: sectionNumber;
    counter-reset: subsectionNumber;
    counter-reset: figureNumber;
}

h2:not(.no-counter) { counter-increment: sectionNumber; }
h2 { counter-reset: subsectionNumber; }

h3:not(.no-counter) { counter-increment: subsectionNumber; }
h3 { counter-reset: figureNumber; }

figure:not(.no-counter) { counter-increment: figureNumber; }

h2:not(.no-counter):before {
    content: counter(sectionNumber) ". ";
}

h3:not(.no-counter)::before {
    content: counter(sectionNumber) "." counter(subsectionNumber) " ";
}

figcaption:not(.no-counter)::before {
    content: "Fig. " counter(sectionNumber) "." counter(subsectionNumber) "." counter(figureNumber) " ";
}