/* Main Typography and Layout */

html { font-family: 'Times New Roman', Serif; }
body { padding: 4rem; margin: 0px auto; max-width: 800px; }
p {	line-height: 1.4rem; }
a { text-decoration: none; }

p {	text-align: justify; line-height: 1.4rem; }
a { color: #347dbd; }
a:hover { color: #FC814A; }

img { max-width: calc(100% - 3rem); }
.img-75mm { height: 75mm; }

center { border: 0.5px solid gray; padding: 1.5rem; }

figure {
	margin-block-start: 2rem; margin-block-end: 2rem;
	margin-inline-start: 0rem; margin-inline-end: 0rem;
}
figcaption { caption-side: top; padding-bottom: 0.75rem;
	border-bottom: 0.5px solid gray; margin-bottom: 1.5rem;
	color: gray; font-weight: bold;} 


/* Code Typography */
code { display:  block; white-space: pre; padding:  1rem; border:  solid 1px black; }
.copy-btn { float:  right; padding:  0.5rem; border: solid 1px black; }
