@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

html { font-family: 'Roboto', sans-serif; font-weight: 300; }
body { padding: 4rem; margin: 0px auto; max-width: 800px; }
b { font-weight: 500; }
h1 { background-color: maroon; colour: white; align-items: center; padding: 1rem; }
h2 { border-bottom: 0.1875rem solid black; margin-bottom: 2rem; padding-bottom: 0.5rem; }
h2 { border-bottom: 1px solid black; margin-bottom: 1rem; padding-bottom: 0.5rem; }
p {	text-align: justify; line-height: 1.4rem; }
ul li { padding: 0.5rem 0px; }
a { color: #347dbd; }
a:hover { color: #FC814A; }
mark { color: purple; background-color: inherit; }
light-mark { color: purple; }
img { max-width: calc(100% - 3rem); }
.img-75mm { height: 75mm; }

center { border: 0.5px solid gray; padding: 1.5rem; }

pre {
	background-color: #f0f0f0;
	font-family: 'Custom Mono', monospace;
	padding: 1rem;
	font-size: smaller;
	white-space: pre-wrap;
}
code { margin-bottom: 1.5rem; display: block;}
figure {
	margin-block-start: 2rem; margin-block-end: 2rem;
	margin-inline-start: 0rem; margin-inline-end: 0rem;
}
figcaption { caption-side: top; padding-bottom: 0.75rem;
	border-bottom: 0.5px solid gray; margin-bottom: 1.5rem;
	color: gray; font-weight: bold;} 