/* Base Settings & Reset CSS */
html { font-size: 100%; }
body { margin: 0px; padding: 0px; background-color: white; color: black; }
article { margin: 0px auto; padding: 2.5vw; max-width: 960px; }
figure { margin: 0px auto; padding: 2.5vw; max-width: 960px; }
footer { margin: 0px auto; padding: 2.5vw; max-width: 1440px; font-size: 0.8rem; color: gray; 'Montserrat', sans-serif; font-weight: 700; }
table { margin: 0px auto; padding: 2.5vw; max-width: 1440px; }
img, embed, object, video { max-width: 100%; }
figcaption { }

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }

/* Document-wide Responsive Layout */
.page-container { margin: 0px; padding: 0px; }
nav { display: none; }
@media screen and (min-width: 768px) and (orientation: landscape) {
	 .page-container { padding: 2.5vw; margin: 0px 0px 0px 250px; }
	 nav { display: block; }
}


/* Sidebar */
nav { margin: 0px; padding: 20px; width: 210px; background-color: #f1f1f1; position: fixed; height: 100%; overflow: auto; }
nav { font-family: 'Montserrat', 'Open Sans', sans-serif; font-weight: 400; }
nav p { padding: 10px 20px 10px 20px; }
nav .sidebar-title { padding: 10px 20px 20px 20px; font-weight: 700; }
.sidebar-submenu { font-size: 0.8rem; color: black; }
.sidebar-submenu a:link { color: black; text-decoration:none; font-weight:normal; }
.sidebar-submenu a:visited { color: black; text-decoration:none; font-weight:normal; }
.sidebar-submenu a:hover { color: teal; text-decoration:none; font-weight:normal; }
.sidebar-submenu a:active { color: teal; text-decoration:none; font-weight:normal; }

.sidebar-submenu { display: none; }
.collapsible { cursor: pointer; border: none; text-align: left; outline: none; width:100%; }
.active, .collapsible:hover {  background-color: #555;	color: white; }

/* Site Header */

header { font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; }
header p { font-family: 'Montserrat', 'Open Sans Condesed', san-serif: font-weight: 400; }
header h2 { font-size: 1.75rem; font-weight: 700; }
.top-menu-item a:link { color:#FFF; text-decoration:none; font-weight:normal; }
.top-menu-item a:visited { color: #FFF; text-decoration:none; font-weight:normal; }

header { width: 100%; margin: 0px; padding: 0px; display: flex; flex-direction: row; align-items: center; background-color: #6E523D; color: white; }
.top-logo { margin:0px;	padding-top: 0px; padding-bottom:0px; padding-left: 2.5vw; padding-right: 0px; width: 50%; }
.top-menu { margin: 0px; padding: 0px;	display:flex; flex-direction: row; width:50%; }
.top-menu-item { margin: 0px; flex-grow: 1; } 



/* Font Styles */
body { font-family: 'Open Sans', sans-serif; font-weight: 400; }
p { font-weight: 400; }
b { font-weight: 700; }

p { margin: 0px; padding-top: 0px; padding-bottom: 1em; }



/* Hyperlinks */

a:link { color: blue; text-decoration:none; font-weight:normal; padding: 0px}
a:visited { color: purple; text-decoration:none; font-weight:normal; padding: 0px}
a:hover { color: teal; text-decoration:none; font-weight:normal; padding: 0px}
a:active { color: teal; text-decoration:none; font-weight:normal; padding: 0px}
